        
        
        
        body {
            background-color: #e05020;  /*#5BC500*/
        }

        .main {
            padding: 25px;
            background-color: white;
            border: 2px rgba(0, 0, 0, 0.432) solid !important;
            min-height: 100vh;
        }

        .navbar-brand.pageTitle {
            padding: 0;
            font-size: 25px;
        }

        .nav-item {
            flex-grow: 1;
            justify-items: center;
            font-family: "Roboto Condensed";
        }

        .nav-link {
            display: flex;
            align-items: center;
            height: 100%;
        }

        .pageTitle {
            font-family: "Dancing Script";
            display: flex;
            align-items: center;
            padding: 15px;
            padding-left: 0px;
        }

        .areaLabel {
            font-family: "Roboto Condensed";
            font-weight: bold;
        }

        .textArea {
            border-radius: 0%;
        }

        .tsCheckboxArea {
            max-width: max-content;
            padding-top: 3px;
            padding-bottom: 3px;
            border: 1px rgba(128, 128, 128, 0.418) solid;
            border-left: 0px;
        }

        .tsCheckboxArea>div {
            display: flex;
            align-items: center !important;
        }

        .tsCheckboxArea>div label {
            font-family: "Roboto Condensed";
            display: flex;
            align-items: center !important;
            gap: 4px;
        }

        .btnMain1 {
            font-family: "Roboto Condensed";
            color: black;
            background-color: #5cc5005e;
            border: 2px #5cc500e5 solid;
        }

        .btnMain1:hover {
            transform: scale(0.97);
            border: 1px black solid;
            background-color: #5cc5009d;
            transition: transform 0.1s, border 0.1s ease-out;
        }

        .btn.btnMain1:active {
            transform: scale(0.95);
            color: black;
            background-color: #5cc500;
            border: 1px black solid;
            transition: transform 0.1s, background-color 0.1s;
        }

        .btnRadioType {
            border: 1.5px #e05020;
            border-style: solid;
            background-color: white;
            margin-left: 6px;
            padding: 5;
            font-family: 'Roboto Condensed';
            --bs-btn-hover-border-color: rgb(233, 0, 0);
            --bs-btn-hover-bg: rgba(233, 0, 0, 0.11);
            --bs-btn-active-color: green;
            --bs-btn-active-border-color: green;
        }

        .btnRadioType.active:before {
            color: black;
            background-color: #e05020;
        }