        
        
        
        body {
            background-color: #ff9900;  /*#5BC500*/
        }

        .main {
            padding: 25px;
            background-color: white;
            border: 2px rgba(0, 0, 0, 0.432) solid !important;
            min-height: 100vh;
        }

        .navbar {
            padding: 0;
            align-items: stretch;
            border: 1px black solid;
        }

        .navbar-brand.pageTitle {
            padding: 0;
            font-size: 25px;
        }

        .navbar-collapse {
            height: 100%;
        }

        .nav-item {
            flex-grow: 1;
            justify-items: center;
            font-family: "Roboto Condensed";
        }

        .nav-link {
            display: flex;
            align-items: center;
            height: 100%;
        }

        .pageTitle {
            font-family: "Dancing Script";
            display: flex;
            align-items: center;
            padding: 15px;
            padding-left: 0px;
        }

        .areaLabel {
            font-family: "Roboto Condensed";
            font-weight: bold;
        }

        .textArea {
            border-radius: 0%;
        }

        .hover-container {
            position: relative;
            display: inline-block;
        }

        .hover-menu {
            display: none;
            position: absolute;
            left: 100%;
            top: 0;
            background-color: white;
            border: 1px solid #757575;
            border-radius: 2px;
            z-index: 1000;
            min-width: max-content;
            margin-left: 0px;
            padding: 5px;
            font-size: small;
            text-align: start;
            justify-content: space-around;
        }

        .hover-icon {
            cursor: pointer;
            height: auto;
            padding: 5px;
            border-top-left-radius: 0%;
            border-bottom-left-radius: 0%;

        }

        .hover-container:hover .hover-menu {
            display: block
        }

        .btn-hover {
            align-items: center;
            background-color: white;
            margin: 1px;
            border: 1px rgba(179, 179, 179, 0.363) solid;
            position: relative;
            overflow: visible;
        }

        .btn-hover::before {
            content: "\F231";
            font-family: "bootstrap-icons";
            font-weight: bold;
            font-size: x-small;
            margin-right: 1px;
            color: inherit;
            opacity: 0.7;
            display: inline-block;
            transition: opacity .2s ease;
        }

        .btn-hover:hover::before {
            content: "\F64D";
            font-family: "bootstrap-icons";
            opacity: 1;
            transition: color 0.3s ease-out;
        }

        .btn-hover:active::before {
            content: "\F633";
            font-family: "bootstrap-icons";
            opacity: 1;
            color: #5BC500;
        }

        .btn-hover::after {
            content: '';
            position: absolute;
            bottom: -1px;
            left: -1px;
            height: 1px;
            width: 0;
            background-color: black;

            transition: width 0.3s ease-out;
        }

        .btn-hover:hover::after {
            width: calc(100% + 2px);
        }

        .btn-hover:active::after {
            background-color: #5BC500;
            width: calc(100% + 2px);
        }

        .checkbox {
            border-radius: 0px;
        }

        .tsCheckboxArea {
            max-width: max-content;
            padding-top: 3px;
            padding-bottom: 3px;
            border: 1px rgba(128, 128, 128, 0.418) solid;
            border-left: 0px;
        }

        .tsCheckboxArea>div {
            display: flex;
            align-items: center !important;
        }

        .tsCheckboxArea>div label {
            font-family: "Roboto Condensed";
            display: flex;
            align-items: center !important;
            gap: 4px;
        }

        .d-flex.flex-column.tsCheckboxArea.sideMenu {
            max-width: max-content;
            padding-left: 5px;
            border-left: 1px rgba(128, 128, 128, 0.418) solid;
            
        }

        .btnMain1 {
            font-family: "Roboto Condensed";
            color: black;
            background-color: #5cc5005e;
            border: 2px #5cc500e5 solid;
        }

        .btnMain1:hover {
            transform: scale(0.97);
            border: 1px black solid;
            background-color: #5cc5009d;
            transition: transform 0.1s, border 0.1s ease-out;
        }

        .btn.btnMain1:active {
            transform: scale(0.95);
            color: black;
            background-color: #5cc500;
            border: 1px black solid;
            transition: transform 0.1s, background-color 0.1s;
        }

        .btnSwtSettings {
            border: 1.5px #e05020;
            border-style: solid;
            background-color: white;
            margin-left: 6px;
            padding: 5;
            font-family: 'Roboto Condensed';
            --bs-btn-hover-border-color: rgb(233, 0, 0);
            --bs-btn-hover-bg: rgba(233, 0, 0, 0.11);
            --bs-btn-active-color: green;
            --bs-btn-active-border-color: green;
        }

        .btnSwtSettings.active:before {
            color: black;
            background-color: #e05020;
        }

        .btn-SettCheck {
            width: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1;
            border: 1px rgb(255, 145, 0) solid;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            background-color: rgba(255, 145, 0, 0.171);
        }

        .btn-SettCheck:active {
            border: 1.5px rgba(255, 145, 0, 0.877) solid;
            transform: scale(0.92);
            background-color: rgba(255, 145, 0, 0.171);
            transition: transform 0.3s ease-in;
        }

        .btn-SettCheck.active {
            border: 1.5px rgba(255, 145, 0, 0.877) solid;
            transform: scale(0.97);
            background-color: rgba(255, 145, 0, 0.404);
            transition: background-color 0.1s, transform 0.1s ease-in;
        }

        .btn-SettCheck:hover {
            border: 1px rgba(255, 145, 0, 0.664) solid;
            background-color: rgba(255, 145, 0, 0.171);
            transform: scale(0.94);
            transition: transform 0.1s;
        }